@import '../../assets/styles/shared';

.tweet {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #EEE;
  padding-bottom: $base-spacing-unit * 1.5;
  margin-bottom: $base-spacing-unit * 1.5;

  &:last-of-type {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: none;
  }

  &__body {
    margin-bottom: $base-spacing-unit * 1.5;
    font-size: 18px;
    border-radius: $border-radius-size;
  }

  &__author {
    display: flex;
    align-items: center;
    opacity: 0.5;
    transition: 0.3s;

    &__image {
      width: 30px;
      height: 30px;
      border-radius: 30px;
      margin-left: $base-spacing-unit;
    }

    &__name {
      font-size: 14px;
    }
  }

  &:hover {
    .tweet__author {
      opacity: 1;
    }
  }
}
